In [16]:
#1.	Compute the correlation of each row of df with its succeeding row.
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))#mean variance and no of items in reshape
print (df)
[df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]]

    0   1   2   3   4   5   6   7   8   9
0  88  61   1  66  20  58  83  53  44  10
1  28  64  23  41   6  82  74   2  10  55
2   6  93   5  23  36  39  23  85  62  79
3   1   4  93  90   1  89   2  29  14  81
4  68  79  91  23  53  52  18  25  38  95
5  26   6  67  52  62   3  39  36  45   3
6  57  93  69  10   5  46  17  46  20  40
7  40  26  83  93  76  11  58  87  57  13

[0.33, 0.01, -0.16, 0.25, -0.3, -0.45, -0.39]

In [29]:
#2.	Replace both values in both diagonals of df with 0.
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0
print (df)

    0   1   2   3   4   5   6   7   8   9
0   0  43  95  22  81  48  29  40  53   0
1  15   0  51  98  38  18   1  14   0  87
2  47  77   0  42  50  14   3   0  49  47
3  97  56  57   0  46  80   0  69  17   2
4   1  76  31  88   0   0  80  94   5  66
5  53  19  80  93   0   0  82  68  87  83
6  85  41  69   0   3  75   0  15  27  10
7  64  94   0  33  13  98  63   0  80  19
8  48   0  57  88  13  83  35  61   0   7
9   0   2  43  55  37  98  93  85  65   0

In [33]:
#3.	From df_grouped, get the group belonging to 'apple' as a dataframe.
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})
print(df)
df_grouped = df.groupby(['col1'])
print(df_grouped)
 # Solution 1
df_grouped.get_group('apple')
# Solution 2
for i, dff in df_grouped:
    if i == 'apple':
        print(dff)

     col1      col2  col3
0   apple  0.950331     9
1  banana  0.736644    12
2  orange  0.479616     3
3   apple  0.891703     7
4  banana  0.494007    10
5  orange  0.225576    12
6   apple  0.673923     4
7  banana  0.081401     6
8  orange  0.832303    10
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000025A82297BE0>
    col1      col2  col3
0  apple  0.950331     9
3  apple  0.891703     7
6  apple  0.673923     4

In [34]:
#5.	In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
print(df)
out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit    rating  price
0   apple  0.370782     12
1  banana  0.862442      4
2  orange  0.568812      4
3   apple  0.737402     12
4  banana  0.717854     13
5  orange  0.919616      8
6   apple  0.060472      3
7  banana  0.973750     14
8  orange  0.007488      9
    fruit      price
0   apple   9.000000
1  banana  10.333333
2  orange   7.000000

In [21]:
#6.	Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})
print(df1)
df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
print(df2)
pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'], suffixes=['_left', '_right'])

    fruit  weight  price
0   apple    high     12
1  banana  medium     10
2  orange     low      7
3   apple    high      1
4  banana  medium      7
5  orange     low     14
6   apple    high     11
7  banana  medium      6
8  orange     low      2
   pazham  kilo  price
0   apple  high      1
1  orange   low      6
2    pine  high      8
3   apple   low      5
4  orange  high     13
5    pine   low     12

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high          12   apple  high            1
1   apple   high           1   apple  high            1
2   apple   high          11   apple  high            1
3  orange    low           7  orange   low            6
4  orange    low          14  orange   low            6
5  orange    low           2  orange   low            6

In [4]:
#7.	From df1, remove the rows that are present in df2. All three columns must be the same.
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})
print(df1[~df1.isin(df2).all(1)])

    fruit  weight  price
0   apple    high     10
1  banana  medium      3
2  orange     low      1
3   apple    high      9
4  banana  medium     10
5  orange     low      5
6   apple    high      1
7  banana  medium     12
8  orange     low      2

In [5]:
#8.	Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

    a   b   c   d  a_lag1  b_lead1
0  48  37   8  77     NaN     40.0
1  49  40  54  62    48.0     50.0
2  54  50  77  69    49.0     83.0
3  26  83  27  87    54.0     17.0
4  79  17  91  42    26.0      NaN

In [35]:
#9.	Get the frequency of unique values in the entire dataframe df.
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
print(df)
pd.value_counts(df.values.ravel())

   a  b  c  d
0  4  2  6  9
1  2  2  6  9
2  2  1  1  6
3  9  1  7  4
4  8  5  1  5

2    4
1    4
9    3
6    3
5    2
4    2
8    1
7    1
dtype: int64

In [46]:
#10.	Split the string column in df to form a dataframe with 3 columns as shown.
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)

# Solution
df_out = df.row.str.split(',|\t', expand=True)
# Make first row as header
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka
0 STD            City    State
1  33   Kolkata    West Bengal
2  44    Chennai    Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka

In [32]:
#11.	Compute the euclidean distance between two arrays a and b.
a = np.array([1,2,3,4,5])
b = np.array([4,5,6,7,8])
dist = np.linalg.norm(a-b)
dist

6.708203932499369

In [47]:
#12.	Compute the moving average of window size 3, for the given 1D array.
np.random.seed(100)
Z = np.random.randint(10, size=10)
def moving_average(a, n=3) :
    ret = np.cumsum(a, dtype=float)
    ret[n:] = ret[n:] - ret[:-n]
    return ret[n - 1:] / n
np.random.seed(100)
Z = np.random.randint(10, size=10)
print('array: ', Z)
# Method 1
moving_average(Z, n=3).round(2)
#Method 2
# np.ones(3)/3 gives equal weights. Use np.ones(4)/4 for window size 4.
np.convolve(Z, np.ones(3)/3, mode='valid') 
#> array:  [8 8 3 7 7 0 4 2 5 2]
#> moving average:  [ 6.33  6.    5.67  4.67  3.67  2.    3.67  3.  ]

array:  [8 8 3 7 7 0 4 2 5 2]

array([6.33333333, 6.        , 5.66666667, 4.66666667, 3.66666667,
       2.        , 3.66666667, 3.        ])

In [11]:
#4.	In df, find the second largest value of 'taste' for 'banana'
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'taste': ['sweet', 'sour', 'bitter'] * 3,
                   'price': np.random.randint(0, 15, 9)})
print(df)
df_grpd = df['taste'].groupby(df.fruit)
df_grpd.get_group('banana').sort_values().iloc[-2]

    fruit    rating   taste  price
0   apple  0.824681   sweet      0
1  banana  0.804285    sour      9
2  orange  0.669313  bitter      1
3   apple  0.556470   sweet      0
4  banana  0.141374    sour     13
5  orange  0.630926  bitter      6
6   apple  0.351527   sweet      9
7  banana  0.546085    sour      6
8  orange  0.583527  bitter      9

'sour'