## Exercise 2

1.	Reshape the series ser into a dataframe with 7 rows and 5 columns

In [1]:
import numpy as np
import pandas as pd

In [4]:
ser = pd.Series(np.random.randint(1, 10, 35))
print(ser)
ser.head()

0     4
1     4
2     5
3     2
4     9
5     9
6     5
7     3
8     5
9     9
10    6
11    8
12    7
13    2
14    3
15    1
16    6
17    5
18    3
19    8
20    4
21    5
22    8
23    7
24    9
25    4
26    2
27    4
28    3
29    4
30    5
31    5
32    3
33    9
34    9
dtype: int32

0    4
1    4
2    5
3    2
4    9
dtype: int32

In [5]:
df=pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  7  8  6  3  8
1  6  9  2  4  2
2  5  2  1  8  6
3  3  2  7  5  4
4  3  7  7  2  4
5  6  6  6  2  5
6  5  2  6  2  3

2.	Find the positions of numbers that are multiples of 3 from ser.

In [6]:
ser = pd.Series(np.random.randint(1, 10, 7)) #meaqn sd observation
print(ser)
np.argwhere(ser%3==0)

0    4
1    4
2    6
3    5
4    7
5    4
6    6
dtype: int32

array([[2],
       [6]], dtype=int64)

3.	From ser, extract the items at positions in list pos.

In [10]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

4.	Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [19]:
#Vertical
ser1 = pd.Series(range(5))
print(ser1)
ser2 = pd.Series(list('abcde'))
print(ser2)
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
dtype: int64
0    a
1    b
2    c
3    d
4    e
dtype: object

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [18]:
#Horizontal
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
df=pd.concat([ser1,ser2],axis=1) # axis=1 for rows and axis=0 for columns
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

5.	Get the positions of items of ser2 in ser1 as a list.

In [21]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[np.where(i==ser1)[0].tolist()[0]for i in ser2]
#OR
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [23]:
#6.	Compute the mean squared error of truth and pred series.
truth = pd.Series(range(10))
print (truth)
pred = pd.Series(range(10)) + np.random.random(10)
print (pred)
np.mean((truth-pred)**2)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    0.103614
1    1.713014
2    2.787678
3    3.479132
4    4.700155
5    5.675957
6    6.771226
7    7.002684
8    8.517281
9    9.178029
dtype: float64

0.3210335057925999

In [12]:
#7.	Change the first character of each word to upper case in each word of ser.
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x: x.title())
#OR
ser.map(lambda x:x[0].upper()+x[1:])
#Or
pd.Series([i.title() for i in ser])

0      How
1       To
2    Write
3    Code?
dtype: object

In [13]:
#8.	Calculate the number of characters in each word in the following series
ser = pd.Series(['how', 'to', 'write', 'code?'])
ser.map(lambda x:len(x))

0    3
1    2
2    5
3    5
dtype: int64

In [14]:
#.	Compute difference of differences between consequtive numbers of the following series?
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

In [17]:
#10.	Convert the following series of date-strings to a timeseries?
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
#solution 1
from dateutil.parser import parse
ser.map(lambda x:parse(x))
#solution 2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [37]:
#11.	Get the day of month, week number, day of year and day of week from ser.
ser = pd.Series(['31 Dec 2018', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))
#day of month
print("Date:",ser_ts.dt.day.tolist())
#week number
print("Week number",ser_ts.dt.weekofyear.tolist())
#day of year 
print("Day of Year",ser_ts.dt.dayofyear.tolist())
#day of week 
print("Day of Week",ser_ts.dt.dayofweek.tolist())

Date: [31, 2, 3, 4, 5, 6]
Week number [1, 5, 9, 14, 19, 23]
Day of Year [365, 33, 63, 94, 125, 157]
Day of Week [0, 2, 5, 3, 0, 5]

In [45]:
#12.	Change ser to dates that start with 4th of the respective months.
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
from dateutil.parser import parse
#Parse the date
ser_ts=ser.map(lambda x: parse(x))
ser_datestr=ser_ts.dt.year.astype('str')+'-'+ ser_ts.dt.month.astype('str')+'-'+'04'
print(ser_datestr)
#format
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]
#OR
ser.map(lambda x:parse('04'+x))

0    2010-1-04
1    2011-2-04
2    2012-3-04
dtype: object

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [50]:
#13.	From ser, extract words that contain atleast 2 vowels.
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money','Jessica','Akshay','Swarna'])
from collections import Counter
mask=ser.map(lambda x:sum([Counter(x.lower()).get(i,0) for i in list('aeiou')])>=2)
ser[mask]

0      Apple
1     Orange
4      Money
5    Jessica
6     Akshay
7     Swarna
dtype: object

In [61]:
#14.	Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.
#solution 1
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
#import re
#pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
#mask=emails.map(lambda x: bool(re.match(pattern, x)))
#emails[mask]

#OR
#emails.str.findall(pattern,flags=re.IGNORECASE)
#OR
[x[0] for x in [re.findall(pattern,email) for email in emails] if len(x)>0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

In [64]:
#15.	 Compute the mean of weights of each fruit.

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
print(weights.groupby(fruit).mean())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'carrot', 'apple', 'banana', 'banana', 'apple', 'apple', 'carrot', 'carrot', 'banana']
apple     5.333333
banana    6.333333
carrot    5.000000
dtype: float64