In [24]:
#1.	Compute the correlation of each row of df with its succeeding row.
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
[df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]]

[-0.02, -0.28, 0.24, 0.43, -0.18, 0.46, -0.03]

In [25]:
#2.	Replace both values in both diagonals of df with 0.
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0
print (df)

    0   1   2   3   4   5   6   7   8   9
0   0  23  38  34  47  65  74  54  67   0
1   3   0   3  34  38  52  66  67   0  67
2  98  11   0  22  86  79  22   0  76  22
3  37  87  17   0   8  80   0  15  64  57
4  16  65  32  12   0   0   4  18  75  74
5  16  66  72  72   0   0  89  49  33   1
6  28  23  18   0  56  59   0  19  30  95
7  83  37   0  79  10  43  32   0  52  39
8  63   0  94  64  18  11  18  37   0  79
9   0  78  21  46  50   1  68  78  50   0

In [26]:
#3.	From df_grouped, get the group belonging to 'apple' as a dataframe.
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])
 # Solution 1
df_grouped.get_group('apple')
# Solution 2
for i, dff in df_grouped:
    if i == 'apple':
        print(dff)

    col1      col2  col3
0  apple  0.312868     6
3  apple  0.087254     7
6  apple  0.907007     7

In [27]:
#5.	In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit     price
0   apple  6.666667
1  banana  7.333333
2  orange  6.666667

In [28]:
#6.	Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham', 'pounds'], suffixes=['_left', '_right'])

KeyError: 'pounds'

In [ ]:
#7.	From df1, remove the rows that are present in df2. All three columns must be the same.
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})
print(df1[~df1.isin(df2).all(1)])

In [29]:
#8.	Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

    a   b   c   d  a_lag1  b_lead1
0  76   5  87  72     NaN     51.0
1  27  51  50  17    76.0     12.0
2  66  12  86  53    27.0     97.0
3  35  97  84  53    66.0      1.0
4  20   1  66   5    35.0      NaN

In [30]:
#9.	Get the frequency of unique values in the entire dataframe df.
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
pd.value_counts(df.values.ravel())

4    4
9    3
7    3
6    3
1    3
5    2
8    1
3    1
dtype: int64

In [31]:
#10.	Split the string column in df to form a dataframe with 3 columns as shown.
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)

# Solution
df_out = df.row.str.split(',|\t', expand=True)
# Make first row as header
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka
0 STD            City    State
1  33   Kolkata    West Bengal
2  44    Chennai    Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka

In [32]:
#11.	Compute the euclidean distance between two arrays a and b.
a = np.array([1,2,3,4,5])
b = np.array([4,5,6,7,8])
dist = np.linalg.norm(a-b)
dist

6.708203932499369

In [33]:
#12.	Compute the moving average of window size 3, for the given 1D array.
np.random.seed(100)
Z = np.random.randint(10, size=10)
def moving_average(a, n=3) :
    ret = np.cumsum(a, dtype=float)
    ret[n:] = ret[n:] - ret[:-n]
    return ret[n - 1:] / n
np.random.seed(100)
Z = np.random.randint(10, size=10)
print('array: ', Z)
# Method 1
moving_average(Z, n=3).round(2)
#Method 2
# np.ones(3)/3 gives equal weights. Use np.ones(4)/4 for window size 4.
np.convolve(Z, np.ones(3)/3, mode='valid') . 
#> array:  [8 8 3 7 7 0 4 2 5 2]
#> moving average:  [ 6.33  6.    5.67  4.67  3.67  2.    3.67  3.  ]

SyntaxError: invalid syntax (<ipython-input-33-c92831b63ef0>, line 15)

In [ ]:
#4.	In df, find the second largest value of 'taste' for 'banana'
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
df_grpd = df['taste'].groupby(df.fruit)
df_grpd.get_group('banana').sort_values().iloc[-2]